<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="DATE_TIME">%style{%d{yyyy-MM-dd HH:mm:ss.SSS}}{faint}</Property>
        <Property name="LOG_LEVEL">%highlight{%5p}</Property>
        <Property name="PID">%style{%pid}{magenta}</Property>
        <Property name="SEPARATOR">%style{---}{faint}</Property>
        <Property name="THREAD">%style{[ %4.4t ]}{faint}</Property>
        <Property name="CLASS">%style{%-32.32c{1.}}{cyan}</Property>
        <Property name="METHOD">%style{%-10.10M}{yellow}</Property>
        <Property name="COLUMN">%style{:}{faint}</Property>
        <Property name="LOG_EXCEPTION_CONVERSION_WORD">%xEx</Property>
        <Property name="MESSAGE">%m%n${LOG_EXCEPTION_CONVERSION_WORD}</Property>
        <Property name="CONSOLE_LOG_PATTERN">${DATE_TIME} ${LOG_LEVEL} ${PID} ${SEPARATOR} ${THREAD} ${CLASS} ${COLUMN} ${MESSAGE}</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${CONSOLE_LOG_PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.github.daggerok" level="all"/>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
